---
layout: default
title: Home
permalink: /photos
---

<!--{% for gallery in site.data.galleries %}
- [{{ gallery.description }}](galleries/{{ gallery.id }})
{% endfor %} -->


<div class="grid">

  {% for gallery in site.data.galleries %}

    <article role="article" class="card" style="background-image:
						linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)),
						url({{ gallery.imagefolder }}/{{ gallery.images.first.name }})">
	    <div class="meta">
      <h2><a href="{{ site.baseurl }}galleries/{{ gallery.id }}">
        {{ gallery.description }}
      </a></h2>
	<p>{{ gallery.blurb }}</p>
	    </div>

    </article>

  {% endfor %}

   </div>
