---
layout: default
title: Home
permalink: /photos
---

<!--{% for gallery in site.data.galleries %}
- [{{ gallery.description }}](galleries/{{ gallery.id }})
{% endfor %} -->


<div class="grid">

  {% for gallery in site.data.galleries %}
  
    <article role="article" class="card" style="background-image: url({{ gallery.imagefolder }}/{{ gallery.images.first.name }})">
	    <div class="meta">
      <h2><a href="{{ site.baseurl }}galleries/{{ gallery.id }}">
        {{ gallery.description }}
      </a></h2>
	<p>{{ gallery.blurb }}</p>
        <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time> 
	    </div>
  
    </article>
    
  {% endfor %}
  
   </div>
