---
layout: default
title: Book Notes
permalink: /booknotes
---

<div class="mainGrid">

  <h1>Book Notes</h1>

  <p>This is a list of all books I've taken notes for (that are polished enough to share). The style of how I've taken notes has changed over time, but broadly these are highlights / refactorings of key ideas to help <i>me</i> remember. Some are just collections of good quotations. Your mileage may vary.</p>
  <p><a href="{{ site.baseurl }}/books">Return to the Bookshelf</a></p>
  
  <ul class="reading-list">
    {% for year in site.data.reading.years %}
      {% for book in year.books %}

      {% assign has_review = false %}
      {% assign book_url = book.link %}

        {% for review in site.reviews %}
          {% if review.book == book.title %}
            {% assign book_url = review.url %}
            {% assign has_review = true %}

            <li class="listed-book{% if book.star %} starred{% endif %}">
              <a class="reviewed" href="{{ book_url}}">{{ book.title }}</a>
              <span class="author">by {{ book.author }}</span>
            </li>

          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>