---
layout: default
title: Books
updated: July 30, 2020
permalink: /books
---

<div class="reading-meta-container">
 
  <h1>Bookshelf</h1>
  
 </div>

<div class="reading-container">

  <div class="test-year-container">
  
  {% assign book_count = 0 %}
  
  {% for year in site.data.reading.years %}
    
    {% for book in year.books %}
    
      {% assign has_review = false %}
      {% assign book_count = book_count | plus:1 %}
      {% assign book_url = book.link %}
    
      {% for review in site.reviews %}
        {% if review.book == book.title %}
          {% assign book_url = review.url %}
          {% assign has_review = true %}
        {% endif %}
      {% endfor %}
            
      <div class="test-book">
      
        <figure class="test-cover">
          <a href="{{ book_url }}" title="{{ book.title }}">
            <img src="/assets/books/{{ book.title}}.jpg" alt="{{ book.title }}">
          </a>
        </figure>
        
        <a href="{{ book_url }}" title ="{{ book.title }}"><h5 class="{% if has_review %}green-{% endif %}title">{{ book.title }}</h5></a>
        <h6 class="author">{{ book.author }}</h6>
        
      </div>
      
        {% if book_count == 5%}
          {% break %}
        {% endif %}
      
      {% endfor %}
      
      {% if book_count == 5%}
          {% break %}
      {% endif %}
      
    {% endfor %}
  </div>
</div>

<div class="reading-meta-container">
<p class="post-body">Here's my reading list, covers first. The row of books up the top are the last 5 books read. I try to keep notes on the books I read, especially non-fiction. Those books that have notes are in <span class="green">green</span>. Recommended books have a star <span class="star">★</span>.</p> 
<p class="post-body">Last updated {{ page.updated }}.</p>

  {% for entry in site.data.reading.years %}
  <div class="year-container">
    <div class="year">
        <h4>{{ entry.year }}</h4>
        <div class="number">{{ entry.books | size }} books</div>
    </div>
    <div class="books">
      <ul class="reading-list {{ entry.year }}">
        {% for book in entry.books %}
        
          {% assign has_review = false %}
          {% assign book_url = book.link %}
        
          {% for review in site.reviews %}
            {% if review.book == book.title %}
              {% assign book_url = review.url %}
              {% assign has_review = true %}
            {% endif %}
          {% endfor %}
        
        <li>
          <a href="{{ book_url }}" alt="_blank" rel="nofollow noopener"{% if has_review %} class="green-title"{% endif %}>{{
            book.title
          }}</a>
          <span class="author">by {{ book.author }}</span
          >{% if book.star %}<span class="star">★</span>{% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
