---
layout: default
title: Tags
permalink: /tags
---
<div class="mainGrid">
<h1>Tags</h1>

{% assign sorted_tags = site.tags | sort %}
<ul class="tag-box">
	{% for tag in sorted_tags %}
		{% assign t = tag | first %}
		{% assign posts = tag | last %}
		<li><a href="#{{ t | downcase }}" class="tag">#{{ t }} ({{ posts.size }})</a></li>
	{% endfor %}
</ul>

{% for tag in sorted_tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

<h4 id="{{ t | downcase }}" class="tag-heading">#{{ t }} ({{ posts.size }})</h4>

<div class="posts-year">
{% for post in posts %}
  {% if post.tags contains t %}

  <div class="listed-post">
      <a class="post-title-link" href="{{ post.url }}">{{ post.title }}</a>
      <time class="tag-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b %Y" }}</time>
  </div>
  {% endif %}
{% endfor %}

</div>

{% endfor %}
</div>
