<nav role="navigation">

  <ul>
    <li><a href="/posts" {% if page.url contains "/posts" %} class="active"{% endif %}>POSTS</a></li>
    <li><a href="/photos" {% if page.url contains "/photos" %} class="active"{% endif %}>PHOTOS</a></li>
    <!--<li><a href="/projects" {% if page.url == "/projects" %}class="active"{% endif %}>projects</a></li>-->
    <li><a href="/books" {% if page.url == "/books" %} class="active"{% endif %}>BOOKS</a></li>
    <!--<li><a href="/atom.xml">feed</a></li>-->
  </ul>

  <p><a href="/">Ben Porter</a></p>

</nav>
