<nav role="navigation">

  <p>
    <a href="/" class="navName" {% if page.title contains "Home" %}id="active"{% endif %}>
      <span class="home-icon">🏠 </span>
      <span class="navNameBefore">Ben Porter</span>
      <span class="navNameAfter">Pen Borter</span>
    </a>
  </p>

  <ul>
    <li><a href="/photos" {% if page.url contains "/photos" %} id="active"{% endif %}>Photos</a></li>
    <li><a href="/books" {% if page.url contains "/books" %} id="active"{% endif %}>Books</a></li>
    <li><a href="/about" {% if page.url contains "/about" %} id="active"{% endif %}>About</a></li>
  </ul>

</nav>
