<div class="socials-container">
    <a href="https://twitter.com/penborter" target="_blank">
        <svg class="icon twitter">
            <use xlink:href="#twitter"></use>
        </svg>
    </a>

    <a href="https://github.com/penborter" target="_blank">
        <svg class="icon github">
            <use xlink:href="#github"></use>
        </svg>
    </a>

    <a href="https://www.instagram.com/penborter/" target="_blank">
        <svg class="icon insta">
            <use xlink:href="#instagram"></use>
        </svg>
    </a>
</div>


