$background: #edf2e3;
$dark-background: #222;
$body-text: #333;
$green-hi: #A8FF9F;

$green: #3f6143;
$header-green: #50775e;
$title-green: #2b312f;
$grey-green: #39553c;
$light-green: #B0C4B7;
$underline: #1bbd27;

$mid-grey: #777;
$transparent: rgba(0,0,0,0);


html {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: $body-text;
  margin: 0;
  background-color: $background;
  counter-reset: sidenote-counter;
  min-height: 100vh;
  position: relative;
  padding-bottom: 4rem;
}

header {
  margin-bottom: 1rem;
  //box-shadow: 0px 2px 18px 4px rgba(0, 0, 0, 0.1);
  //background-color: $header-green;
}

// Highlighter colours
//.green-hi {
//  background: linear-gradient(180deg, $transparent 70%, $green-hi 30%);
//}

::selection {
  background: #39553c;
  color: #ccc;
}

a {
  text-decoration: none;
}

nav {
  margin: 0 auto;
  height: 90px;
  display: grid;
  grid-template-columns: 1fr 44rem 1fr;
  //font-size: 16px;

  color: #999;
  font-weight: 500;

  p {
    text-align: right;
    margin: 0 2.5em 0 0;
    align-self: center;
    }

  ul {
    margin: auto 0.1rem;
    padding: 0;

    li {
      display: inline-block;
      }
  }

  a, a:visited {
    //margin-right: 1.3rem;
    //text-decoration: none;
    padding: 0.4rem 1.3rem 0.4rem 0;
    //border: 1px solid transparent;
    //border-radius: 5px;
    //border: 1px solid transparent;
    //transition: all 0.3s cubic-bezier(0.5, 0.25, 0.75, 0.95);

    &:hover {
      //background-color: $light-green;
      //border-radius: 5px;
      //border: 1px solid #fff;

      text-decoration: underline;
      text-underline-offset: 2px;
      text-decoration-thickness: 2px;
      text-decoration-color: #ccc;
    }
  }

  .active {
    //border-radius: 5px;
    //background: $light-green;
    color: #666;
    //border: 1px solid;
    //border-color: #fff !important;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(65, 100, 65, 0.35);
  }

  // Ben Porter --> Pen Borter effect
  .navNameAfter {
    display: none;
  }

  .navName {
    font-weight: 700;
    text-align: center;

    padding: 0.5em 0.8em;

    //box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);

    border-radius: 5px;

    color: #fff;
    background-color: $green;

    //transition: all 0.3s cubic-bezier(0.5, 0.25, 0.75, 0.95);

    &:hover {

      text-decoration: none !important;
      color: #fff;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08),
                  0px 4px 6px 0px rgba(60, 60, 60, 0.3);

      .navNameBefore {
        display: none;
        //color: $light-green;
      }

      .navNameAfter {
        display: inline;
        color: #fff !important;
      }
    }
  }
}

.hidden {
  display: none;
}

.home-icon {
  display: none;
  margin-right: 1em;
  font-size: 24px;
}

.socials-container {
  display: inline;
  //margin-left: 2em; 

  a {
    text-decoration: none !important;

    &:hover {
      background: none !important;
    }
  }

}

.icon {
  //display: inline-block;
  margin: 0 0.7rem;
  width: 1.2em;
  height: 1.2em;
  fill: #777;
}

.twitter:hover {
  fill: #1DA1F2;
}

.insta:hover {
  fill: #E4405F;
}

.github:hover {
  fill: #181717;
}


.mainGrid {
  display: grid;
  grid-template-columns: 1fr 44rem 1fr;
  grid-gap: 0.2rem;
  align-items: baseline;

  //h1 {
  //  grid-column: 2;
  //}

  a {
    text-decoration: underline;
    text-decoration-color: #777;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;

    //background: linear-gradient(180deg, $background 80%, $blue-hi 20%);

    &:hover {
      background: rgba(65, 100, 65, 0.15);
      text-decoration: none;
      //text-decoration-color: #333;
      //text-decoration-thickness: 2px;
    }
  }

  ol, ul {
      margin-top: 0;
      margin-bottom: 1.5em;
      padding: 0;
  }

  ol {
    padding-left: 2ch;
  }

  th {
    padding: 0.5rem;
    background-color: #50775e;
    color: #eee;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  // For year values on list pages
  h4 {
    margin-left: 0.5em;
    padding-right: 2rem;
    grid-column: 1;
    text-align: right;
    font-size: 20px;
    color: $light-green;
  }
}

#sidebar {
  grid-column: 1;
  grid-row: 1/6;

  position: sticky;
  top: 2em;
}

#toc {

  font-size: 14px;
  color: #666;
  margin: 3em;
  padding: 1em;


  //background: #f6f9f1;
  //border-radius: 6px;
  //border: 1px solid #becdb4;

  //box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);

  h4 {
    text-align: left;
    font-size: 16px;
    color: #555;
  }

  ol {
    padding-left: 2em;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

// Gets footnote numbers & paragraphs to display on the same line
li[id*="fn:"] p {
  display: inline;
}

.mainGrid * {
  grid-column: 2 ;
}

.tags-page {
  max-width: 600px;
  margin: auto;
}

.post-footer {

  font-size: 14px;
  color: #555;
  padding-top: 1em;

  span {
  float: right;
  margin: 0;
  }
}

// .card is only used in the PHOTOS page
.card {
  display: flex;
  min-height: 6rem;
  border-radius: 2px;
  //border: 3px solid transparent;
  background: #222;

  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  &:hover {
    //border: 3px solid #e0832d;
    transform: scale(1.01);
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.12);
  }

  .meta {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  p {
    font-size: 0.9rem;
    margin: 0;
    color: #333;
  }

  h2 {
    margin: 0;
  }
}

.galleryCard {
  //grid-column: 2 / 4;
  margin: 0.5em 0;
  text-decoration: none !important;

  &:first-of-type {
    margin-top: 3rem;
  }
}

.tag {
  //background: #fff;
  //border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0.2rem 0.5rem;
  margin: 0.1em;
  text-decoration: none !important;
  font-size: 12px;
  //color: #aaa !important;
  //transition: all 0.3s cubic-bezier(0.5, 0.25, 0.75, 0.95);

  &:hover, &:visited:hover {
    background: none !important;
    color: #333 !important;
    //border: 1px solid transparent;
  }
}

.starred {
  list-style-type: "★";
  margin-left: -0.3em;
  padding-left: 0.3em;
}


.reading-list {
  padding: 0;
  list-style: none;
  font-weight: 550;


  ::marker {
    color: #48a569;
  }
}

.listed-post, .listed-book {
  align-items: center;
  margin-bottom: 0.5em;

  &:first-child {
    margin-top: 1em;
  }
}

.listed-post {
  a {
    text-decoration: none;
  }
}

.year {
  h4 {
    margin: 0;
  }
}

.post-title-link {
  grid-column: 1;
}

.tags-meta, .posts-tags-meta {
  // Also includes .post-info

  display: inline;
  padding: 0;

    li {
      display: inline-block;
      padding-right: 0.3em;
    }
}

.posts-tags-meta {
  text-align: right;
  grid-column: 2;
  margin: 0 !important;
}

.posts-year {
  margin-bottom: 1em;
  border-top: 1px solid #bbb;
}

.page-nav {

  margin-bottom: 2em;
  margin-top: 1em;

  p.truncate {
    margin: 0;
  }

  .prev-page {
    text-align: right;
    padding-right: 1.5em;
  }

  .next-page {
    padding-left: 1.5em;
  }

  a {
    display: block;
    font-weight: 500;
    text-decoration: none;
    color: #39553c;
    width: 50%;
    float: left;

    &:hover {
      color: #3e4e44;
    }
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footnotes {
  font-size: 14px;
  color: #555;
  border-top: 1px solid #a0cca5;
  padding-top: 1em;
  margin-top: 2em;

  a {
    text-decoration: none;
    color: #e0832d;
  }
}

.footnote {
  font-weight: 600;
  text-decoration: none !important;
  color: #666;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;

  tr {
    border-bottom: 1px solid black;
  }

  td {
    padding: 0.5rem;
  }
}

// BOOKSHELF PAGE

.books-list {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 5px;
  row-gap: 5px;
  margin: 2em 0 4em 0;
  //width: 60%;

  a {
    text-decoration-color: #aaa;
    text-underline-offset: 1px;
  }

  .post-title-link {
    font-weight: 500;
  }
}

.books-list * {
  grid-column: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.book-cover {
  img {
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.12);

    transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                  0 2px 2px rgba(0,0,0,0.12),
                  0 4px 4px rgba(0,0,0,0.12),
                  0 6px 6px rgba(0,0,0,0.08);
    }
  }
}

.test-year-container {
  display: grid;
  // Three equal-width columns
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // Leaving a gap between each of the columns
  grid-gap: 1.5em;
}

.test-year-container * {
  grid-column: auto;
}

// END BOOKSHELF PAGE

.footer {
  margin: 1rem 0 0.5rem 0;
  font-size: 14px;
  color: #B0C4B7;
  position: absolute;
  left: calc((100% - 44rem) / 2);
  bottom: 2em;
}

.green {
  color: #888;
  //font-weight: 600;
}

div[class*="highlighter-rouge"] {
  margin: 0 0 2em;
}

.mainGrid figure {
  margin: 0 0 1.5em;
}

.pic-wide {
  //grid-column: 2 / 4;
}

.pic-full {
  grid-column: 1 / -1;
}

.gallery-image {
  padding: 0 0 20vh 0;
  margin: auto;
  display: table;
}

img {
  width: 100%;
  margin: auto;
  display: block;
}

figcaption {
  text-align: left;
  font-size: 14px;
  color: #555;
  padding: 1rem 0 1rem 0;
}

.number {
  font-size: 16px;
  color: #999;
  text-align: right;
  padding-right: 2rem;
}

mark {
  color: #333;
  background-color: #ffc899;
}

a mark:hover {
  background-color: #e1bda0;
}

.col-8 {
  grid-column: -1;
  margin: auto 1em;

  a {
    padding: 0.1em;
  }

  a:hover {
    border: 1px solid transparent;
  }

  svg {
    margin: 0;
    fill: #B0C4B7;
  }

  .icon {
    width: 1.2em;
    height: 1.2em;
  }
}

.author {
  font-size: 15px;
  font-weight: 400;
  padding-left: 0.1em;
}

.year-container {

  border-top: 1px solid #a0cca5;

  @media (max-width: 850px) {
    display: block;
  }

    

    .star {
      margin-left: 3px;
      color: #48a569;
      font-size: 16px;
    }
}

.book-list-header {
  font-size: 20px !important;
  padding-bottom: 0.8em;
  padding-top: 1.2em;
}

.year {
  grid-column: 1;
}

.tag-box {
  padding: 0;

  li {
    display: inline-block;
    padding: 0.1rem 0.15rem;
  }
}

.tag-date {
  color: #777;
  font-size: 12px;
  text-align: right;
}

.tag-heading {
  font-size: 12px !important;
  font-weight: 450;
  color: $title-green !important;
  margin: 0;
}

.horizontal-gallery-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  //padding-bottom: 10px;
  //margin: 60px 20px;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
}

  .image-wrapper {
    display: inline-block;
    height: 83vh;
    margin: 0 5px;
    background: black;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.1);
  }
}

.img-gallery {
  height: 100%;
  width: auto;
}

.gallery-meta {
  width: 400px;
  //min-width: 90%;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  margin-left: calc((100% - 44rem) / 2);
  margin-right: 5px;
  padding: 3rem 2rem 0 0;
  //background: #000;
  //border: 1px solid #bddecb;
  //border-radius: 5px;
  color: #ccc;

  h1 {
      margin: 0 0 0.5em 0;
      color: #ccc;
  }

  .photo-footer {
    position: relative;
    top: calc(83vh - 3em - 90px);
    color: #555;
    font-size: 14px;

  }
}

.book-intro {
  p {
      margin-top: 2em;
  }
}

.review-meta {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #444;
}

.descriptor {
  color: #50775e;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0.5em;
}

// Keeps footnotes from changing the line height they're in
sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;

  .footnote {
    //text-decoration: none;
    font-size: 10px;
  }
}

@media screen and (max-width: 1100px) {
  header {

    p {
      margin: 0 1em 0 0;
    }
  }

  .navNameBefore, .navNameAfter {
    display: none;
  }

  .home-icon {
    display: inline;
  }

  .navName {
    //border: 1px solid transparent !important;
    background-color: transparent !important;
    padding: 0 !important;
  
    &:hover {
      box-shadow: none !important;

      .navNameAfter {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 880px) {

  .narrow-hide {
    display: none;
  }

  header {
    padding-top: 5%;
    padding-left: 5%;

    nav p {
      justify-self: left;
    }
  }

  .mainGrid {
    display: block;
    margin: 5%;
  }

  .post-title-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .year-container {
    margin: 0.5em 0 2em 0;
  }

  .mainGrid h4 {
    margin: 2em 0 0.5em 0;
    text-align: left;
  }

  .card {
    margin: 1rem 0;
  }

  .blog:last-child {
    display: none;
  }

  .bookshelf-book {
    max-width: 200px;
  }

  .bookshelf-book:last-child {
    display: none;
  }

  .books-list {
    grid-template-columns: 1fr;
    column-gap: 0;
    margin-top: 2.5em;

    div:nth-child(4n) {
      padding-bottom: 20px;
    }
  }

  .horizontal-gallery-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    white-space: normal;
    max-width: 90%;
    margin: auto;

    .gallery-meta {
      width: auto;
      margin-left: 0;
      padding: 0 0 2em 0;
    }

    .image-wrapper {
      display: block;
      padding-bottom: 5%;
      margin: auto;
      height: auto;
      box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.1);
      background: transparent;
    }

    .img-gallery {
      max-width: 100%;
    }
  }

  #dark-footer {
    display: block !important;
    color: #555;
  }
}

/// PHOTOS PAGE CHANGES TO NAVBAR COLOURS

.dark {
  background-color: $dark-background;
}

#dark-nav {
  
  .active {
    color: #ddd;
    text-decoration-color: #aaa;
  }

  a, a:visited {

    &:hover {
      text-decoration-color: #666;
      color: #999;
    }

  }
}

#dark-footer {
  display: none;
}