

html {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    color: #111;
    margin: 0;
} 

nav {
    margin: 0 auto;
    max-width: 820px;
}

main {
    margin: 0 auto;
    padding: 0.5rem;
}

.posts-list {
    max-width: 600px;
    margin: auto;
}

header {
    margin-bottom: 1rem;
}

h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 1em;
    color: #222;
}

ul {
    margin-top: 0.5rem;
}

a:hover {
    color: #0ac219;
}

a:visited:hover {
    color: #0ac219;
}

.gallery-box {
    width: 80vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -40vw;
    margin-right: -40vw;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-auto-rows: minmax(6rem,auto);
    grid-gap: 1rem
}

.grid * {
    grid-column: 2;
}

.posts-list h3 {
    margin-top: 1em;
}

.card {
    display: flex;
    align-items: left;
    justify-content: left;
    min-height: 6rem;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    flex: 1 1 10rem
}

@supports (display:grid) {
    .card {
        margin: 0
    }
}

.card {
  //min-height: 100%;
  background: #ffffff;
  //-webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  //box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  //display: flex;
  //flex-direction: column;
  text-decoration: none;
  //position: relative;
  //top: 0;
  color: #1a1a1a;
  border: 2px solid #0000ee;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card a {
	text-decoration: none;
}

.card p {
  font-size: 0.9rem;
  margin: 0;
}

.card h2 {
  font-size: 1.3rem;
  margin: 0;
  &:hover {
      //color: #0000ee;
      //text-decoration: underline;
  }

}

.card time {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .05em;
  margin: 0.25rem 0rem 0rem 0rem;

}

.card .meta {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;

  flex: 1;
  justify-content: center;
  flex-direction: column;
}

.post {
  padding: 0rem;
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(0px, 100px)
    minmax(0px, 600px)
    minmax(0px, 100px)
    minmax(1.2rem, 1fr);
  
}

.post * {
  grid-column: 3;
}

.tags-meta, .posts-tags-meta, .post-info {

  list-style: none !important;
  padding: 0;
  margin: 0.2rem 0;
  display: inline;
  color: #999;

    li {
      display: inline-block;
      //padding: 0rem 0.2rem;
      margin: auto;
      //color: #8c8c8c;
    }
}


.posts-tags-meta {
  float: right;
}

.listed-post {
  padding: 0.2rem 0rem;
  margin: 0.1rem 0rem;
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  //border: 2px solid #f8faf7;
  //border-radius: 2px;

  &:hover {
  //    transform: scale(1.02);
  //    border: 2px solid #488f4f;
  //    border-radius: 2px;
  }

  a {
      text-decoration: none;
  }
}

.date, .tags-meta, .post-tag {
    font-family: "Inter var", monospace;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.004em;
}

.date {
    color: #00990d;
    padding-right: 0.2rem;
}

.post-tag {
    padding-right: 0.2em;
    margin-bottom: 0.4em;
}

.post a {
    color: #00990d;
    text-decoration: none !important;

    &:hover {
        color: #0bda1d !important;
    }
}

.post-meta a {
    color: #999;
}

.post-meta {
    padding-bottom: 1em;
}

.post-meta h1 {
    padding-bottom: 0.2em;
    padding-top: 0.1em;
}

.post p, ol, ul {
    margin-top: 0;
    margin-bottom: 1.5em;
}

.post th {
    padding: 0.5rem;
    background-color: #0000ee;
    color: #ffffff;
}

.post tr:nth-child(even) {
    background-color: #f2f2f2;
}

// Gets footnote numbers & paragraphs to display on the same line
li[id*="fn:"] p {
    display: inline;
}

.page-footer {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: auto;
    overflow: hidden;

    
    .post-versions {
        grid-column: 1;
        font-family: "Fira Code", monospace;
        color: #999;
        font-size: 12px;
        
        p {
            margin: 0;
            line-height: 1.2em;
        }
    }
    
    .page-nav {
        grid-column: 2;
        align-self: center;
    }
    
    .prev-page {
        text-align: right;
        padding-right: 1.5em;
    }
    
    .next-page {
        padding-left: 1.5em;
    }
    
    a {
        display: block;
        font-weight: 700;
        text-decoration: none;
        color: #00990d;
        width: 50%;
        float: left;
    }
}

.footnotes {
    font-size: 13px;
    color: #999;
}

.footnote {
    font-weight: 600;
}

h4 {
    font-size: 14px;
}

.card {
	transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  &:hover {
    transform: scale(1.02);
  }
}
ul, ol {
	padding: 0;
	list-style-position: inside;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid black;
    }

    td {
        padding: 0.5rem;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    color: #00990d;
    line-height: 0.8;
    border-bottom: 1px solid #8c8c8c;
    box-shadow: 0 8px 6px -6px #dddddd;
    font-family: "Inter var", "Helvetica";
    letter-spacing: -0.004em;
    font-size: 14px;
    font-weight: 500;

    .active {
        border: 1px solid #00990d !important;
        border-radius: 2px;
    }

    ul {
        list-style: none !important;
        padding: 0;
        margin: auto 0.1rem;

        li {
            display: inline-block;
        }
    }
    a, a:visited {
        margin: 0.1rem;
        text-decoration: none;
        padding: 0.2rem 0.4rem;
	    color: inherit;
        border: 1px solid transparent;
        //border-radius: 5px;
        //background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #CCF3FF 65%);
        //transition: all 0.5s;
	    //opacity: 0.6;
        transition: all 0.3s cubic-bezier(0.5, 0.25, 0.75, 0.95);

        &:hover {
            //transform: scale(1.02);
            border-radius: 2px;
            border: 1px solid #00990d;
            color: #00990d;
            //background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #8cf0ff 65%);
        }
    }

}

footer {
    margin: 1rem 0;
    text-align: center;
}

.last-update {
  font-size: 13px;
  color: #777;
  margin: 0.5rem 0;
}

.number {
  font-size: 16px;
  color: #777;
}

.listed-post time {
    margin-right: 2rem;
}

div[class*="highlighter-rouge"] {
  margin: 0 0 2em;
  grid-column: 2 / 5;
}

.post figure {
    margin: 0 0 1.5em;
}

.full-width {
    grid-column: 2 / 5;
}

.pic-wide {
    grid-column: 2 / 5;
}

.pic-full {
    grid-column: 1 / -1;
    margin: 20px 0;
}

/*
.full-width {

    margin: 0;
    padding-bottom: 8rem;
    // full-width containers for images
    width: 70vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -35vw;
    margin-right: -35vw;
} */

.gallery-image {
    padding: 0 0 20vh 0;
    margin: auto;
    display: table;
}

img {
    width: 100%;
    margin: auto;
    display: block;
}

sup {
    
}

figcaption {
    text-align: left;
    margin: auto;
    font-family: "Inter var", monospace;
    font-weight: 400;
    font-size: 13px;
    color: #999;
    padding: 1rem 0 1rem 0;
    letter-spacing: -0.004em;
}

.year-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
  align-items: flex-start;

  @media (max-width: 850px) {
    display: block;
  }
  
  .year {
      grid-column: 1;
  }

  .books {
    
    grid-column: 2;
      
    ul.reading-list {
      line-height: 1.7;
    }
    .author {
      font-size: 13px;
      color: #555;
    }
    .star {
      margin-left: 3px;
      color: #00990d;
      font-size: 16px;
    }
    a {
      color: #383838;
      text-decoration: none;

      &:hover {
          text-decoration: underline;
      }

    }
  }

}

.social_media_list {
  list-style: none;
  margin-left: 0;
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 1rem;
      border: 1px solid #0000ee;
      &:hover { border-color: darken(#0000ee, 10%) }
    }
  }
}

svg {
    fill: #ffffff;
}

.flex-test-container {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 2100px;
}

.flex-test-item {
    width: 32%;
}


.flex-test-img {
    margin: 10px;
}

.flex-test-item:nth-child(3n+1) { order: 1; }
.flex-test-item:nth-child(3n+2) { order: 2; }
.flex-test-item:nth-child(3n)   { order: 3; }

.flex-test-container::before,
.flex-test-container::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}

ul.tag-box li {
  display: inline-block;
  list-style: none;
  list-style-image: none;
  margin: 3px 0.4rem 3px 0;
  color: #999 !important;
}

ul.tag-box li span.size {
  font-weight: 300;
}

.tag-heading {
    font-family: "Inter var", "Helvetica";
    font-size: 15px;
    margin-bottom: 0.4rem;
    color: #111;
    letter-spacing: -0.004em;
}

.tag-date {
    color: #999;
    font-size: 13px;
    margin-right: 0.5rem;
}

a {
    text-decoration: none;
}
