/*! tomorrow night; https://github.com/MozMorris/tomorrow-pygments */

$grey: #787d78; // Comment, secondary text
$light-grey: #eee; // Primary text
$red: #cc6666; // Error, global variable
$purple: #eba2ea; // Keywords
$orange: #eb952d; // Integers
$cyan: #24d6be; // Operators
$blue: #8bbafc;
$green: #96c44d; // Literal strings
$gold: #f0cb65; // Keyword, class name

.highlight .c { color: $grey !important; } /* Comment */
.highlight .err { color: $red !important; } /* Error */
.highlight .k { color: $purple !important; } /* Keyword */
.highlight .l { color: $orange !important; } /* Literal */
.highlight .n, .highlight .h { color: $light-grey !important; } /* Name */
.highlight .o { color: $cyan !important; } /* Operator */
.highlight .p { color: $light-grey !important; } /* Punctuation */
.highlight .cm { color: $grey !important; } /* Comment.Multiline */
.highlight .cp { color: $grey !important; } /* Comment.Preproc */
.highlight .c1 { color: $grey !important; } /* Comment.Single */
.highlight .cs { color: $grey !important; } /* Comment.Special */
.highlight .gd { color: $red !important; } /* Generic.Deleted */
.highlight .ge { font-style: italic !important; } /* Generic.Emph */
.highlight .gh { color: $light-grey !important; font-weight: bold !important; } /* Generic.Heading */
.highlight .gi { color: $green !important; } /* Generic.Inserted */
.highlight .gp { color: $grey !important; font-weight: bold !important; } /* Generic.Prompt */
.highlight .gs { font-weight: bold !important; } /* Generic.Strong */
.highlight .gu { color: $cyan !important; font-weight: bold !important; } /* Generic.Subheading */
.highlight .kc { color: $purple !important; } /* Keyword.Constant */
.highlight .kd { color: $purple !important; } /* Keyword.Declaration */
.highlight .kn { color: $cyan !important; } /* Keyword.Namespace */
.highlight .kp { color: $purple !important; } /* Keyword.Pseudo */
.highlight .kr { color: $purple !important; } /* Keyword.Reserved */
.highlight .kt { color: $gold !important; } /* Keyword.Type */
.highlight .ld { color: $green !important; } /* Literal.Date */
.highlight .m { color: $orange !important; } /* Literal.Number */
.highlight .s { color: $green !important; } /* Literal.String */
.highlight .na { color: $blue !important; } /* Name.Attribute */
.highlight .nb { color: $light-grey !important; } /* Name.Builtin */
.highlight .nc { color: $gold !important; } /* Name.Class */
.highlight .no { color: $red !important; } /* Name.Constant */
.highlight .nd { color: $cyan !important; } /* Name.Decorator */
.highlight .ni { color: $light-grey !important; } /* Name.Entity */
.highlight .ne { color: $red !important; } /* Name.Exception */
.highlight .nf { color: $blue !important; } /* Name.Function */
.highlight .nl { color: $light-grey !important; } /* Name.Label */
.highlight .nn { color: $gold !important; } /* Name.Namespace */
.highlight .nx { color: $blue !important; } /* Name.Other */
.highlight .py { color: $light-grey !important; } /* Name.Property */
.highlight .nt { color: $cyan !important; } /* Name.Tag */
.highlight .nv { color: $red !important; } /* Name.Variable */
.highlight .ow { color: $cyan !important; } /* Operator.Word */
.highlight .w { color: $light-grey !important; } /* Text.Whitespace */
.highlight .mf { color: $orange !important; } /* Literal.Number.Float */
.highlight .mh { color: $orange !important; } /* Literal.Number.Hex */
.highlight .mi { color: $orange !important; } /* Literal.Number.Integer */
.highlight .mo { color: $orange !important; } /* Literal.Number.Oct */
.highlight .sb { color: $green !important; } /* Literal.String.Backtick */
.highlight .sc { color: $light-grey !important; } /* Literal.String.Char */
.highlight .sd { color: $grey !important; } /* Literal.String.Doc */
.highlight .s2 { color: $green !important; } /* Literal.String.Double */
.highlight .se { color: $orange !important; } /* Literal.String.Escape */
.highlight .sh { color: $green !important; } /* Literal.String.Heredoc */
.highlight .si { color: $orange !important; } /* Literal.String.Interpol */
.highlight .sx { color: $green !important; } /* Literal.String.Other */
.highlight .sr { color: $green !important; } /* Literal.String.Regex */
.highlight .s1 { color: $green !important; } /* Literal.String.Single */
.highlight .ss { color: $green !important; } /* Literal.String.Symbol */
.highlight .bp { color: $light-grey !important; } /* Name.Builtin.Pseudo */
.highlight .vc { color: $red !important; } /* Name.Variable.Class */
.highlight .vg { color: $red !important; } /* Name.Variable.Global */
.highlight .vi { color: $red !important; } /* Name.Variable.Instance */
.highlight .il { color: $orange !important; } /* Literal.Number.Integer.Long */
