.reading-container {
    max-width: 800px;
    margin: auto;
    padding-bottom: 1em;
    padding-top: 2em;
}

.reading-meta-container {
    //max-width: 600px;
    //margin: auto;
}


.test-book {

    figure {
        margin: 0;
        transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);

        &:hover {
            transform: scale(1.02);
            //border-radius: 5px;
        }
    }

    img {
        border-radius: 4px;
        box-shadow: 0px 3px 8px #222;
    }
}

h5 {
    font-size: 15px;
    font-weight: 600;
    margin: 1em 0 0em 0;
}

h6 {
    margin: 0;
    font-size: 13px;
    color: #777;
    font-weight: 500;
}

.test-year {
    margin-bottom: 1em;
}

.test-year-number {
    margin: 2em 0 0 0;
    font-size: 16px;
}

.test-sticky-container {
    display: grid;
    grid-template-columns: 1fr 3fr;

}

.test-list li {
    padding: 2em;
}

.test-sticky {
    position: sticky;
}
