
body {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: -0.008em;
  font-kerning: normal;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1;
  -webkit-font-smoothing: antialiased;
}

a,a:visited {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

h1, h2, h3, h4 {
    font-family: 'Inter var', sans-serif;
	font-weight: 700;
    color: #444;
    margin: 0.5em 0 0.5em 0;
}

.card h2 {
    color: #eee;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h4 {
    margin: 0 0 0.5rem 0;
}

blockquote {
  border-left: 3px solid #50775e;
  font-weight: 400;
  padding: 0.25rem 1rem;
  margin: 0 0 1.5em;

  p {
    margin: 0 !important;
  }

  footer {
    font-size: 80%;
    margin: 1rem 0 0 0;
  }
}

dl {
  dt {
    margin-bottom: 0.5rem;
  }
  dd {
    font-style: italic;
    margin-bottom: 2rem;
  }
}

div.highlight {
    border-radius: 4px;
    border-color: #bbc4c9;
    box-shadow: 0px 2px 10px #aaa;
    //width: 70vw;
    //position: relative;
    //left: 50%;
    //right: 50%;
    //margin-left: -35vw;
    //margin-right: 35vw;
}

code, .highlight {
    background: #333;
    overflow: auto;
}

code {
    font-family: 'Fira Code', monospace;
    word-break: break-all;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.2px;
    line-height: 1.8em;
}

code {
	padding: 0.2rem 0.4rem;
}

code.highlighter-rouge {
    background: #f0f2ed;
    font-weight: bold;
    letter-spacing: -0.2px;
    border-radius: 5px;
}

pre {
  padding: 1em;
}
