body {
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a,a:visited {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

h1, h2, h3, h4, h5 {
	font-weight: 600;
    margin: 2rem 0 0.4rem 0;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    margin: 1rem 0 0 0;
}

blockquote {
  border-left: 5px solid #0000ee;
  font-size: 110%;
  font-weight: 500;
  margin: 1rem 0;
  padding: 0rem 1rem 0rem 1rem;

  p {
    margin: 0;
  }

  footer {
    font-size: 80%;
    margin: 1rem 0 0 0;
  }
}

dl {
  dt {
    margin-bottom: 0.5rem;
  }
  dd {
    font-style: italic;
    margin-bottom: 2rem;
  }
}

div.highlight {
    border: 1px solid;
    border-radius: 4px;
    border-color: #bbc4c9;
}

code, .highlight {
    background: #edf1f2;
    overflow: auto;
}

code {
    font-family: 'Source Code Pro', monospace;
    word-break: break-all;
    font-size: 13px;
    letter-spacing: -0.5px;
}

code {
	padding: 0.2rem 0.4rem;
}

pre {
  padding: 1em;
}

.date {
  opacity: 0.6;
}
