---
layout: default
---

  {% for book in site.data.reading2022.books %}

    {% if book.title == page.book %}
      {% assign book_review = book %}
      {% break %}

    {% endif %}
  {% endfor %}

<article role="article" class="mainGrid">

	<div class="book-intro">
    <h1 style="margin-bottom: 0;">{{ book_review.title }}</h1>
    <p style="margin: 0.5em 0 3em 0;">
      by {{ book_review.author }}.
    </p>
	</div>

  <div id="sidebar" class="narrow-hide">
    <div id="toc">
      <h4>Contents</h4>
      {% include toc.html html=content ordered=true %}
    </div>

  </div>


{{ content }}

<div class="post-footer">
  {% if page.published %}
  <p class="pub-date" style="margin-bottom: 1em; text-align: right;">Published on {{ page.published }}</p>
  {% endif %}

  <hr style="height:1px; border:none; margin: 0.5rem 0 1rem 0; background-color:#a0cca5;">

  <div class="page-nav">
    {% if page.previous.url %}
      <a class="prev-page" href="{{ page.previous.url }}">&laquo; Prev Book</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next-page" href="{{ page.next.url }}">Next Book &raquo;</a>
    {% endif %}
  </div>
</div>

</article>
