---
layout: default
---

{% for year in site.data.reading.years %}
  
  {% for book in year.books %}
  
    {% if book.title == page.book %}     
      {% assign book_review = book %}
      {% break %}
    
    {% endif %}
  {% endfor %}
{% endfor %}

<article role="article" class="post">
	<div class="book-intro">
        <figure class="test-cover">
          <img src="/assets/books/{{ book_review.title }}.jpg" alt="{{ book_review.title }}">
        </figure>
        <div class="book-meta">
          <h1>{{ book_review.title }}</h1>
          <span class="descriptor">Author</span>
          <p>{{ book_review.author }}</p>
          {% if book_review.year %}
            <span class="descriptor">Published by</span>
            <p>{{ book_review.pub }}, {{ book_review.year }}</p>
          {% endif %}
          <span class="descriptor">Summary</span>
          <p>{{ page.summary }}</p>
          
        </div>
	</div>

  <h2>Notes</h2>
  {{ content }}
  
  <br>

 <hr style="height:2px; border:none; margin: 1rem 0; background-color:#e7e9ee;">

 <div class="post-footer">

    <div class="post-date">
         <p class="published">Published on {{ page.date | date: "%B %-d, %Y" }}</p>
    </div>
    
    <div class="page-nav">
    {% if page.previous.url %}
        <a class="prev-page" href="{{ page.previous.url }}">&laquo; Prev Post</a>
    {% endif %}
    {% if page.next.url %}
        <a class="next-page" href="{{ page.next.url }}">Next Post &raquo;</a>
    {% endif %}
    </div>
</div>

</article>
