---
layout: post
---

<script src="/assets/js/lightbox-plus-jquery.min.js"></script>
<link href="/assets/css/lightbox.css" rel="stylesheet" />

{% for gallery in site.data.galleries %}
    {% if gallery.id == page.galleryid %}
        {{ content }}
        <p>Click on the photos to launch a gallery.</p>
        <ul style="list-style-type:none">
        {% for image in gallery.images %}
            <li>
                <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text}}">
                    <img src="{{ gallery.imagefolder }}/{{ image.thumb }}">
                    <br>
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
