---
layout: page
---

<script src="/assets/js/lightbox-plus-jquery.min.js"></script>
<link href="/assets/css/lightbox.css" rel="stylesheet" />

<h1>{{ page.title }}</h1>

{% for gallery in site.data.galleries %}
    {% if gallery.id == page.galleryid %}
        {{ content }}
        <p>Click on the photos to launch a gallery.</p>
        <ul style="list-style-type:none">
        {% for image in gallery.images %}
            <li>
                <figure class="full-width">
                    <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text}}">
                        <img src="{{ gallery.imagefolder }}/{{ image.thumb }}">
                    </a>
                    <figcaption>{{ image.text }}</figcaption>
                </figure>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
