---
layout: page
---

<script src="/assets/js/lightbox-plus-jquery.min.js"></script>
<link href="/assets/css/lightbox.css" rel="stylesheet" />


<h1>{{ page.title }}</h1>

{% for gallery in site.data.galleries %}
    {% if gallery.id == page.galleryid %}
        {{ content }}
        <p>Click on the photos to launch a gallery.</p>
        <ul style="list-style-type:none" class="flex-test-container">
        {% for image in gallery.images %}
            <li class="flex-test-item">
                <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text}}">
                    <img class="flex-test-img" src="{{ gallery.imagefolder }}/{{ image.thumb }}" alt="{{ image.text }}">
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
