---
layout: default
---

{% if page.photoloc %}
<script src="/assets/js/lightbox-plus-jquery.min.js"></script>
<link href="/assets/css/lightbox.css" rel="stylesheet" />
{% endif %}

<article role="article" class="post">
	<div class="post-meta">
        <ul class="tags-meta">
            {% if page.tags %}
            {% for tag in page.tags %}
                <li><a href="/tags#{{ tag }}" class="post-tag">#{{ tag }}</a></li> {% endfor %}
            {% endif %}
        </ul>
        <h1>{{ page.title }}</h1>

	</div>

  {{ content }}
  <br>
  


 <hr style="height:2px; border:none; margin: 1rem 0; background-color:#e7e9ee;">
 <div class="post-footer">

    <div class="post-date">
         <p class="published">Published on {{ page.date | date: "%B %-d, %Y" }}</p>
    </div>
    
    <div class="page-nav">
    {% if page.previous.url %}
        <a class="prev-page" href="{{ page.previous.url }}">&laquo; Prev Post</a>
    {% endif %}
    {% if page.next.url %}
        <a class="next-page" href="{{ page.next.url }}">Next Post &raquo;</a>
    {% endif %}
    </div>
</div>
    
</article>
